<!DOCTYPE html>
<html>
<body>
  <h2>Enter your Email to Start Test</h2>

  <form action="/student/check-email" method="POST">
     <input type="hidden" name="testId" value="<%= testId %>">
     
     <input type="email" name="email" required placeholder="Enter Gmail">
     <button type="submit">Continue</button>
  </form>
</body>
</html>
